In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

#  **Gather the data**

In [ ]:
df= pd.read_csv('/content/railway.csv')
df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No

# **Data Assessing**

1- Quality issues

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

- change the name of the columns to be easier to deal with.
- Completeness

  1- null values in 'Railcard

  2- create 'journey_duration' and 'Actual_journey_duration'and 'Delay_time'

  3- null values in 'Reason_For_Delay'

- Validity
  
  1- 'Date_Of_Purchase' and 'Time_Of_Purchase' should be combined in one column of the type datetime

  2- Convert 'Date_Of_Journey' to datetime

  3-Change the type of 'Departure_Time', 'Arrival_Time' and 'Actual_Arrival_Time' to datetime

- Consistency

   make sure all values are uniform, standardize categorical columns.

# **Data Cleaning**
Fixing Quality issues

In [ ]:
df_clean= df.copy()
df_clean

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No

A- Define

Change the names of the columns

B- Code

In [ ]:
df_clean.rename(columns={'Transaction ID':'Transaction_ID',
                         'Date of Purchase':'Date_of_Purchase',
                         'Time of Purchase':'Time_of_Purchase',
                         'Purchase Type':'Purchase_Type',
                         'Payment Method':'Payment_Method',
                         'Ticket Class':'Ticket_Class',
                         'Ticket Type':'Ticket_Type',
                         'Departure Station':'Departure_Station',
                         'Arrival Destination':'Arrival_Destination',
                         'Date of Journey':'Date_of_Journey',
                         'Departure Time':'Departure_Time',
                         'Arrival Time':'Arrival_Time',
                         'Actual Arrival Time':'Actual_Arrival_Time',
                         'Journey Status':'Journey_Status',
                         'Reason for Delay':'Reason_for_Delay',
                         'Refund Request':'Refund_Request'},inplace=True)

C- Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  object
 2   Time_of_Purchase     31653 non-null  object
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  object
 12  Departure_Time       31653 non-null  object
 13  Arrival_Time         31653 non-null  object
 14  Actual_Arrival_Time  29773 non-null  object
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     4172 non-null   object
 17  Refund_Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

A- Define

Replace null values in 'Railcard' with none

B- Code

In [ ]:
df_clean['Railcard'].fillna('None',inplace=True)

C- Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  object
 2   Time_of_Purchase     31653 non-null  object
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  object
 12  Departure_Time       31653 non-null  object
 13  Arrival_Time         31653 non-null  object
 14  Actual_Arrival_Time  29773 non-null  object
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     4172 non-null   object
 17  Refund_Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

A- Define

Replace null values in 'Reason_for_Delay' with No Delay

B- Code

In [ ]:
df_clean['Reason_for_Delay'].fillna('No Delay',inplace=True)

C- Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  object
 2   Time_of_Purchase     31653 non-null  object
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  object
 12  Departure_Time       31653 non-null  object
 13  Arrival_Time         31653 non-null  object
 14  Actual_Arrival_Time  29773 non-null  object
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     31653 non-null  object
 17  Refund_Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

A- Define

'Date_Of_Purchase' and 'Time_Of_Purchase' change the type to datetime

B- Code

In [ ]:
df_clean['Date_of_Purchase']= pd.to_datetime(df_clean['Date_of_Purchase'])
df_clean['Time_of_Purchase']= pd.to_datetime(df_clean['Time_of_Purchase'])

C- Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  datetime64[ns]
 2   Time_of_Purchase     31653 non-null  datetime64[ns]
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  object
 12  Departure_Time       31653 non-null  object
 13  Arrival_Time         31653 non-null  object
 14  Actual_Arrival_Time  29773 non-null  object
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     31653 non-null  object
 17  Refund_Request       31653 non-null  object
dtypes: datetime64[ns](2), int64(1), object(15)
memory usage: 4.3+ MB

A- Define

merge  'Date_Of_Purchase' and 'Time_Of_Purchase'into 'Date_Time_Purchase'

B- Code

In [ ]:
df_clean['Date_Time_Purchase'] = pd.to_datetime(df_clean['Date_of_Purchase'].dt.strftime('%Y-%m-%d') + ' ' + df_clean['Time_of_Purchase'].dt.strftime('%H:%M:%S'))

C- Test

In [ ]:
df_clean

,Transaction_ID,Date_of_Purchase,Time_of_Purchase,Purchase_Type,Payment_Method,Railcard,Ticket_Class,Ticket_Type,Price,Departure_Station,Arrival_Destination,Date_of_Journey,Departure_Time,Arrival_Time,Actual_Arrival_Time,Journey_Status,Reason_for_Delay,Refund_Request,Date_Time_Purchase
0,da8a6ba8-b3dc-4677-b176,2023-12-08,2025-03-12 12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,No Delay,No,2023-12-08 12:41:11
1,b0cdd1b0-f214-4197-be53,2023-12-16,2025-03-12 11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No,2023-12-16 11:23:01
2,f3ba7a96-f713-40d9-9629,2023-12-19,2025-03-12 19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,No Delay,No,2023-12-19 19:51:27
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,2025-03-12 23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,No Delay,No,2023-12-20 23:00:36
4,2be00b45-0762-485e-a7a3,2023-12-27,2025-03-12 18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,No Delay,No,2023-12-27 18:22:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,2025-03-12 18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,No Delay,No,2024-04-30 18:42:58
31649,7da22246-f480-417c-bc2f,2024-04-30,2025-03-12 18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,No Delay,No,2024-04-30 18:46:10
31650,add9debf-46c1-4c75-b52d,2024-04-30,2025-03-12 18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,No Delay,No,2024-04-30 18:56:41
31651,b92b047c-21fd-4859-966a,2024-04-30,2025-03-12 19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,No Delay,No,2024-04-30 19:51:47
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,2025-03-12 20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,No Delay,No,2024-04-30 20:05:39

A- Define

Change 'Date_of_Journey' to datetime

B- Code

In [ ]:
df_clean['Date_of_Journey']= pd.to_datetime(df_clean['Date_of_Journey'])

C- Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  datetime64[ns]
 2   Time_of_Purchase     31653 non-null  datetime64[ns]
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  datetime64[ns]
 12  Departure_Time       31653 non-null  object
 13  Arrival_Time         31653 non-null  object
 14  Actual_Arrival_Time  29773 non-null  object
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     31653 non-null  object
 17  Refund_Request       31653 non-null  object
 18  Date_Time_Purchase   31653 non-null  datetime64[ns]
dtypes: datetime64[ns](4), int64(1), object(14)
memory usage: 4.6+ MB

A- Define

Change the type of 'Departure_Time' to datetime

Change the type of 'Arrival_Time' to datetime

Change the type of 'Actual_Arrival_Time' to datetime

and add the journey date to them insteed of a random date

B- code

In [ ]:
def adjust_arrival_time(row):
    row['Arrival_Time'] = pd.to_datetime(row['Arrival_Time'])
    row['Departure_Time'] = pd.to_datetime(row['Departure_Time'])
    row['Actual_Arrival_Time'] = pd.to_datetime(row['Actual_Arrival_Time'])

    # Check if Actual_Arrival_Time is valid before accessing .time()
    if pd.notna(row['Actual_Arrival_Time']) and row['Arrival_Time'].time() < row['Departure_Time'].time():
        row['Arrival_Time'] = row['Arrival_Time'] + pd.DateOffset(days=1)
    # Check if Actual_Arrival_Time is valid before accessing .time()
    if pd.notna(row['Actual_Arrival_Time']) and row['Actual_Arrival_Time'].time() < row['Departure_Time'].time():
        row['Actual_Arrival_Time'] = row['Actual_Arrival_Time'] + pd.DateOffset(days=1)
    return row

df_clean["Departure_Time"] = pd.to_datetime(df_clean["Departure_Time"])
df_clean["Arrival_Time"] = pd.to_datetime(df_clean["Arrival_Time"])
df_clean["Actual_Arrival_Time"] = pd.to_datetime(df_clean["Actual_Arrival_Time"])

df_clean["Departure_Time"] = pd.to_datetime(df_clean['Date_of_Journey'].dt.strftime('%Y-%m-%d') + ' ' + df_clean["Departure_Time"].dt.strftime('%H:%M:%S'))
df_clean["Arrival_Time"] = pd.to_datetime(df_clean['Date_of_Journey'].dt.strftime('%Y-%m-%d') + ' ' + df_clean["Arrival_Time"].dt.strftime('%H:%M:%S'))
df_clean["Actual_Arrival_Time"] = pd.to_datetime(df_clean['Date_of_Journey'].dt.strftime('%Y-%m-%d') + ' ' + df_clean["Actual_Arrival_Time"].dt.strftime('%H:%M:%S'))

df_clean = df_clean.apply(adjust_arrival_time, axis=1)

C- test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  datetime64[ns]
 2   Time_of_Purchase     31653 non-null  datetime64[ns]
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  datetime64[ns]
 12  Departure_Time       31653 non-null  datetime64[ns]
 13  Arrival_Time         31653 non-null  datetime64[ns]
 14  Actual_Arrival_Time  29773 non-null  datetime64[ns]
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     31653 non-null  object
 17  Refund_Request       31653 non-null  object
 18  Date_Time_Purchase   31653 non-null  datetime64[ns]
dtypes: datetime64[ns](7), int64(1), object(11)
memory usage: 4.6+ MB

A- Define

make sure all values are uniform, standardize categorical columns.

B- Code

In [ ]:
text_columns = ["Purchase Type", "Payment Method", "Railcard", "Ticket Class", "Ticket Type", "Journey Status"]
df[text_columns] = df[text_columns].apply(lambda x: x.str.strip().str.lower())

C- Test

In [ ]:
df_clean

,Transaction_ID,Date_of_Purchase,Time_of_Purchase,Purchase_Type,Payment_Method,Railcard,Ticket_Class,Ticket_Type,Price,Departure_Station,Arrival_Destination,Date_of_Journey,Departure_Time,Arrival_Time,Actual_Arrival_Time,Journey_Status,Reason_for_Delay,Refund_Request,Date_Time_Purchase
0,da8a6ba8-b3dc-4677-b176,2023-12-08,2025-03-12 12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,2024-01-01 11:00:00,2024-01-01 13:30:00,2024-01-01 13:30:00,On Time,No Delay,No,2023-12-08 12:41:11
1,b0cdd1b0-f214-4197-be53,2023-12-16,2025-03-12 11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,2024-01-01 09:45:00,2024-01-01 11:35:00,2024-01-01 11:40:00,Delayed,Signal Failure,No,2023-12-16 11:23:01
2,f3ba7a96-f713-40d9-9629,2023-12-19,2025-03-12 19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,2024-01-02 18:15:00,2024-01-02 18:45:00,2024-01-02 18:45:00,On Time,No Delay,No,2023-12-19 19:51:27
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,2025-03-12 23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,Reading,2024-01-01,2024-01-01 21:30:00,2024-01-01 22:30:00,2024-01-01 22:30:00,On Time,No Delay,No,2023-12-20 23:00:36
4,2be00b45-0762-485e-a7a3,2023-12-27,2025-03-12 18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,2024-01-01 16:45:00,2024-01-01 19:00:00,2024-01-01 19:00:00,On Time,No Delay,No,2023-12-27 18:22:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,2025-03-12 18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,2024-04-30 20:00:00,2024-04-30 20:30:00,2024-04-30 20:30:00,On Time,No Delay,No,2024-04-30 18:42:58
31649,7da22246-f480-417c-bc2f,2024-04-30,2025-03-12 18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,2024-04-30 20:15:00,2024-04-30 21:35:00,2024-04-30 21:35:00,On Time,No Delay,No,2024-04-30 18:46:10
31650,add9debf-46c1-4c75-b52d,2024-04-30,2025-03-12 18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,2024-04-30 20:15:00,2024-04-30 20:45:00,2024-04-30 20:45:00,On Time,No Delay,No,2024-04-30 18:56:41
31651,b92b047c-21fd-4859-966a,2024-04-30,2025-03-12 19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,2024-04-30 21:15:00,2024-04-30 22:35:00,2024-04-30 22:35:00,On Time,No Delay,No,2024-04-30 19:51:47
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,2025-03-12 20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,2024-04-30 21:30:00,2024-04-30 22:00:00,2024-04-30 22:00:00,On Time,No Delay,No,2024-04-30 20:05:39

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  datetime64[ns]
 2   Time_of_Purchase     31653 non-null  datetime64[ns]
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_Journey      31653 non-null  datetime64[ns]
 12  Departure_Time       31653 non-null  datetime64[ns]
 13  Arrival_Time         31653 non-null  datetime64[ns]
 14  Actual_Arrival_Time  29773 non-null  datetime64[ns]
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     31653 non-null  object
 17  Refund_Request       31653 non-null  object
 18  Date_Time_Purchase   31653 non-null  datetime64[ns]
dtypes: datetime64[ns](7), int64(1), object(11)
memory usage: 4.6+ MB

A- Define

Remove useless columns

B- Code

In [ ]:
df_clean.drop(columns=['Date_of_Purchase','Time_of_Purchase'],inplace=True)

C- Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Purchase_Type        31653 non-null  object
 2   Payment_Method       31653 non-null  object
 3   Railcard             31653 non-null  object
 4   Ticket_Class         31653 non-null  object
 5   Ticket_Type          31653 non-null  object
 6   Price                31653 non-null  int64
 7   Departure_Station    31653 non-null  object
 8   Arrival_Destination  31653 non-null  object
 9   Date_of_Journey      31653 non-null  datetime64[ns]
 10  Departure_Time       31653 non-null  datetime64[ns]
 11  Arrival_Time         31653 non-null  datetime64[ns]
 12  Actual_Arrival_Time  29773 non-null  datetime64[ns]
 13  Journey_Status       31653 non-null  object
 14  Reason_for_Delay     31653 non-null  object
 15  Refund_Request       31653 non-null  object
 16  Date_Time_Purchase   31653 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(1), object(11)
memory usage: 4.1+ MB

A-Define

Rearrange the data

B-Code

In [ ]:
df_clean= df_clean[['Transaction_ID','Date_Time_Purchase','Purchase_Type','Payment_Method','Railcard','Ticket_Class','Ticket_Type','Price','Departure_Station','Arrival_Destination','Date_of_Journey','Departure_Time','Arrival_Time','Actual_Arrival_Time','Reason_for_Delay','Refund_Request','Journey_Status']]

C-Test

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_Time_Purchase   31653 non-null  datetime64[ns]
 2   Purchase_Type        31653 non-null  object
 3   Payment_Method       31653 non-null  object
 4   Railcard             31653 non-null  object
 5   Ticket_Class         31653 non-null  object
 6   Ticket_Type          31653 non-null  object
 7   Price                31653 non-null  int64
 8   Departure_Station    31653 non-null  object
 9   Arrival_Destination  31653 non-null  object
 10  Date_of_Journey      31653 non-null  datetime64[ns]
 11  Departure_Time       31653 non-null  datetime64[ns]
 12  Arrival_Time         31653 non-null  datetime64[ns]
 13  Actual_Arrival_Time  29773 non-null  datetime64[ns]
 14  Reason_for_Delay     31653 non-null  object
 15  Refund_Request       31653 non-null  object
 16  Journey_Status       31653 non-null  object
dtypes: datetime64[ns](5), int64(1), object(11)
memory usage: 4.1+ MB

# **Data Storing**

In [ ]:
df_clean.to_csv('Railway_clean.csv', index=False)